## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Durres,AL,51.98,broken clouds,41.3231,19.4414,Palace Hotel & Spa Durrës
1,4,Port Macquarie,AU,66.88,clear sky,-31.4333,152.9167,Rydges Port Macquarie
2,5,Mataura,NZ,48.20,overcast clouds,-46.1927,168.8643,Ellie's Villa
3,7,Saint-Philippe,RE,74.75,overcast clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
4,8,Pisco,PE,69.85,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[['Lat', 'Lng']]
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig
# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

start_city = "Fort Nelson"
end_city = "Fort Nelson"
city1 = "Assiniboia"
city2 = "Sept-Iles"
city3 = "Marystown"

vacation_start = vacation_df.loc[vacation_df["City"] == start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == end_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == city1]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == city2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == city3]

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,393,Fort Nelson,CA,37.67,clear sky,58.8053,-122.7002,The Fort Nelson Hotel
1,386,Assiniboia,CA,40.82,overcast clouds,49.6334,-105.9845,Canalta Hotel Assiniboia
2,269,Sept-Iles,CA,38.05,overcast clouds,50.2001,-66.3821,Comfort Inn
3,467,Marystown,CA,48.85,overcast clouds,47.1666,-55.1483,Marystown Hotel & Convention Centre

In [16]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,393,Fort Nelson,CA,37.67,clear sky,58.8053,-122.7002,The Fort Nelson Hotel
1,386,Assiniboia,CA,40.82,overcast clouds,49.6334,-105.9845,Canalta Hotel Assiniboia
2,269,Sept-Iles,CA,38.05,overcast clouds,50.2001,-66.3821,Comfort Inn
3,467,Marystown,CA,48.85,overcast clouds,47.1666,-55.1483,Marystown Hotel & Convention Centre

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))